<div class = 'main-header'>
  <h1 class = 'main-header no-search'> Upload An Outfit
  </h1>
</div>
<%= form_tag outfits_path do %>
	<p> Select a file to upload </p>
	<p><%= file_field_tag (:uploaded_outfit) %></p>
	<p><%= select_tag(:contact_id, options_for_select(@names)) %></p>
	<p><%= submit_tag 'Submit'%></p>
	<p> or </p>
	<p> Take a picture from your phone </p>
	<input type="file" accept="image/*" capture="camera">
<% end %>
