a, div, td{
	font-family: Papyrus, fantasy;
}
.add-button{
	font-size: 30px;
	margin-right: 10px;
}
.btn{
	padding: 0px;
}
.outfit-photo{
	text-align: center;
	padding: 25px;
}
.outfit-photo img{
	height: 300px;
	width: 300px;
}
.navbar-nav > li{
  padding-left:5px;
  padding-right:5px;
}
.main-header{
	text-align: center;
	position: relative;
	font-family: Papyrus, fantasy;
}
.add-new-btn{
	top: 32px;
	right: 0px;
	position: absolute;
	border: 2px solid black;
	border-radius: 4px;
	padding: 6px;
	padding-top: 10px;
	text-align: center;
}
.no-search{
	padding-top: 50px;
}
.search-bar{
	padding-top: 60px;
	position: relative;
	background-image: -webkit-linear-gradient(top, #810f00, #BB1907);
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.contact-index{
	padding-left: 10px;
	background-color: #dfdfdf;
	font-size: 20px;
	font-family: Papyrus, fantasy;
}
.index-table{
	width:100%;
}
.index-row{
	border-top: 1px dotted black;
	height: 50px;
}
.glyphicon-search{
	position: absolute;
	padding: 67px 0px 0px 7px;
	font-size: 25px;
}
.glyphicon-chevron-right{
	margin-right: 10px;
	padding-top: 2px;
	color: #810f00;
}
.contact-search{
	width: 100%;
	padding-left: 35px;
	height: 40px;
	border: 1px solid #999999; 
	border-radius: 4px;
}
.body{
	background-color: #FBCEB1;
}
.navbar-btn{
	background-image: -webkit-linear-gradient(top, #810f00, #BB1907);
	color: white;
	border: 1px gray solid;
	padding: 5px;
	border-radius: 4px;
}
.navbar-default {
	background-image: -webkit-linear-gradient(top, #810f00, #BB1907);
	border-color: #810f00;
}
.navbar-default .navbar-brand {
	color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #e5d6da;
}
.navbar-default .navbar-text {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
	color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #e5d6da;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #e5d6da;
	background-color: #810f00;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #e5d6da;
	background-color: #810f00;
}
.navbar-default .navbar-toggle {
	border-color: #810f00;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #810f00;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #ecf0f1;
}
.navbar-default .navbar-link {
	color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
	color: #e5d6da;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #ecf0f1;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #e5d6da;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #e5d6da;
		background-color: #810f00;
	}
}