<div class = 'main-header'>
  <h1 class = 'main-header no-search'> New Contact
  </h1>
</div>
<div class = 'form-div'>
	<%= form_for(@contact) do |form| %>
		  <span>Contact's Name:</span>
	 	  <span><%= form.text_field(:name) %></span>
	 	  <span><%= form.submit %></span>
	<% end %>
</div>